<!DOCTYPE html>
<html>
<head>
  <title>Make a friend</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "make_a_friend/application", media: "all" %>
  <%= javascript_include_tag "make_a_friend/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
